#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	dh_link /usr/share/javascript/jquery/jquery.js \
	         usr/share/eiskaltdcpp/web/js/lib/jquery.js \
	        /usr/share/javascript/jquery-tablesorter/jquery.tablesorter.js \
	        usr/share/eiskaltdcpp/web/js/lib/jquery.tablesorter.js
